<!DOCTYPE html>
<html>
  <%- include ('./partials/head.ejs') %>
  <body>
   
    <h1 class="formTitle">Edit <%=review.title%> Review</h1>

    <form class="form" action="/movies/<%= review.id %>?_method=PUT" method="POST">

      Title <input type="text" name="title" value="<%=review.title%>" /><br />

      Genre <input type="text" name="genre" value="<%=review.genre%>" /><br />

      Review <textarea name="review" ><%=review.review%></textarea>

      Similar To <input type="text" name="similarTo" value="<%=review.similarTo.join(', ')%>"/><br />

      Streaming On <input type="text" name="streamingOn" value="<%=review.streamingOn.join(', ')%>" /><br />

      Tags <input type="text" name="tags" value="<%=review.tags.join(', ')%>" /><br />

      Image <input type="text" name="img" value="<%=review.img%>" /><br />

      <button style="width: 200px;" id="editBtn" type="updatedReview">Edit Review</button>
    </form>

  </body>
</html>