<!DOCTYPE html>
<html>
    <head>
      <%- include ('./partials/head.ejs') %>
    </head>
    <body>
      
        <h1 id="showTitle"><%=review.title%> Review</h1>

      
    <div id="showParts">
      
      <div class="reviewInfo">
        <% if (review.img === '') { %>
            <img id="reviewImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png">
          <% } else { %>
        <img id="showImg" src="<%=review.img; %>"> </br>
        <% } %>
        <h4 id="reviewWords">Review: <%=review.review%></h4>
      </div>

      <div id="smalls">
        <h4 id="genre">Genre: <%=review.genre%></h4>
        <h4 id="streamingOn">Streaming On: <%=review.streamingOn.join(', ')%> </h4>
        <h4 id="tags">Tags: <%=review.tags.join(', ')%></h4>
        <h4 id="similarTo">Similar to: <%=review.similarTo.join(', ')%></h4>
      </div>

    <div id="actions">
      
        <form action="/movies/<%=review.id%>/edit">
            <button id="editBtn" type="Edit">Edit</button>
        </form>
        
        <form action="/movies/<%=review.id%>?_method=DELETE" method="POST">
          <button id="deleteBtn" type="Delete">Delete</button>
        </form>

    </div>  

    </div>

    <%- include ('./partials/footer.ejs') %>

    </body>
</html>