<!DOCTYPE html>
<html>
    <head>
      <%- include ('./partials/head.ejs') %>
    </head>
    <body>
      
        <h1><%=review.title%> Review</h1>

        <img src="<%=review.img; %>"> </br>
    <div id="showParts">
      <h4>Review: <%=review.review%></h4>
      <h4>Genre: <%=review.genre%></h4>
      <h4>Streaming On: <%=review.streamingOn.join(', ')%> </h4>
      <h4>Tags: <%=review.tags.join(', ')%></h4>
      <h4>Similar to: <%=review.similarTo%></h4>
    </div>

  
            
    <div id="actions">
      


        <form action="/movies/<%=review.id%>/edit">
            <button id="editBtn" type="Edit">Edit</button>
        </form>
        
        <form action="/movies/<%=review.id%>?_method=DELETE" method="POST">
          <button id="deleteBtn" type="Delete">Delete</button>
        </div>

    </body>
</html>